body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;

}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.newGameButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

table{
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
    empty-cells: show;
    padding: 10px;

}

td {
    border: 1px solid black;
    height: 40px;
    width: 40px;
    text-align: center;
}

footer {
    margin: auto;
    margin-top: 50px;
    text-align:center;
}

.fab  {
    color: rgb(20, 20, 20);
    font-size: 50px;
    margin-left: 10px;
    text-decoration: none;

}
.fab:hover {
    color: #ccffcc;
    
}

.fa-solid {
    color: rgb(20, 20, 20);
    font-size: 50px;
    margin-left:10px;
}

.fa-solid:hover {
    color: #ccffcc;
}
